/* ------------------------------------------------块引用/引用块------------------------------------------------- */

/* 设置引用块格式 */
.protyle-wysiwyg [data-node-id] span[data-type='block-ref'] {
    color: #202124;
    /* background-color: #0066ff1a; */
    padding: 1px 3px;
    border-radius: 4px;
    background-color: #f7f7f7;
}

/* 为引用块后面增加引用图标 */
.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]::before {
    content: "📑";
    font-size: 0.9em;
    margin-left: 0.3em;
    margin-right: 0.1em;
}

.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]:hover {
    background-color: #f8f9fa;
}



/* 去掉h1-h6标题上块引用的下划线，感谢二群群友123的建议 */
/* .h1 span[data-type='block-ref'],
.h2 span[data-type='block-ref'],
.h3 span[data-type='block-ref'],
.h4 span[data-type='block-ref'],
.h5 span[data-type='block-ref'],
.h6 span[data-type='block-ref'] {
    border-bottom: 1px solid transparent !important;
} */

/* ------------------------------------------------块引用 END------------------------------------------------- */