/* 设置删除线中间线条的颜色 */
.b3-typography strong,
.b3-typography span[data-type~=strong],
.protyle-wysiwyg strong,
.protyle-wysiwyg span[data-type~=strong] {
    text-decoration: line-through;
    text-decoration-color: #55555a3f;
    color: #55555a3f;
}